h5{
    color:rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.Estilo1{
    margin-right: 50px;
}

.carousel-control-prev-icon {
    filter:  grayscale(10)!important;
}

.carousel-control-next-icon{
    filter:  grayscale(10)!important;

}

/* audio{
    width: 210px; 
    object-fit: contain;
}

@media (min-width: 400) {
    
} */